@model MarketAdModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>AdvertModal</title>
</head>
<body>
<div class="advert-modal" id="advert-modal">
        <p id="modal-itemName">@Model.Name</p>
        <p id="modal-itemPrice">@Model.Price</p>
    <p id="modal-itemDescription">@Model.Description</p>
    <a asp-controller="Advertisement" asp-action="RemoveAdvertisement" asp-route-id="@Model.Id" style="position:absolute; top:35%; left:50%;">Remove Advertisement</a>
    <a asp-controller="Message" asp-action="Conversation" asp-route-receiverId="@Model.ReceiverId" asp-route-senderId="@Model.SenderId">Contact</a>
    <img src="~/images/search_icon.png" alt="search-icon">
    </div>
<a class="advert-modal-background" id="modal-background" asp-controller="Market" asp-action="Market"></a>
</body>
</html>