@model MarketViewModel

@{
    ViewData["Title"] = "Market";
}
<div class="market-screen">
    <div class="btn-add-advert standard-btn btn-active">
        <a asp-controller="home" asp-action="AddAdvertisement">Add Advert</a>
    </div>

    @if (Model.Advertisements.Any())
    {
        foreach (var advert in Model.Advertisements)
        {
            <a class="advert-block" asp-action="AdvertModal" 
                   asp-route-name="@advert.Name" asp-route-price="@advert.Price" asp-route-description="@advert.Description" asp-route-id="@advert.Id">
                    <img src="~/images/search_icon.png" alt="search-icon">
                    
                    <p id="itemName">@advert.Name</p>
                    <p id="itemPrice">@advert.Price</p>
                    <p id="itemStatus">Advertisement</p>
                </a>
        }
    }
    @if (Model.Auctions.Any())
    {
        foreach (var auction in Model.Auctions)
        {
            <a class="advert-block" id="advert-block" asp-action="AuctionModal" asp-route-name="@auction.Name" asp-route-currentPrice="@auction.CurrentPrice" asp-route-id="@auction.PersonId">
                <img src="~/images/search_icon.png" alt="search-icon">
                <p id="itemName">@auction.Name</p>
                <p id="itemPrice">@auction.CurrentPrice</p>
                <p id="itemStatus">Auction</p>
            </a>
        }
    }
</div>